:root {
    /** COLORS **/
    /* primary colors */
    --color-brand-green-light: #819B57;
    --color-brand-light: #FAF4EA;
    --color-brand-dark: #31261A;
    /* secondary colors */
    --color-secondary-green-dark: #465929;
    --color-secondary-brown: #A18268;
    --color-secondary-cream: #CFCFBC;
}

/* base */
body {
    color: var(--color-brand-dark);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1,5;
}

address {
    font-style: normal;
}   

ul {
    list-style-type: none;;
}

/* button */
.button {
    color: var(--color-brand-light);
    background-color:var(--color-brand-green-light);
    border: 2px solid var(--color-brand-green-light);
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    border: 2px solid var(--color-brand-green-light);
    border-radius: 8px;
    color: var(--color-secondary-green-dark);;
}

.button:focus {
    background-color: transparent;
    border: 2px solid var(--color-brand-green-light);
    border-radius: 8px;
    color: var(--color-secondary-green-dark);
    ;
} 

/* link */
.link {
    color: var(--color-brand-light);
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand-green-light);
    font-weight: 600;
}

/* hero section */
.hero-title{
    color: var(--color-brand-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    /* text-transform: uppercase; */
}

.hero-title .accent {
    color: var(--color-brand-green-light)
}

/* advantages section */
.advantages-list {
    background-color: var(--color-brand-green-light);
    color: var(--color-brand-light);
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;
}
.section-title {
    color: var(--color-brand-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1,3;
}

.section-title .accent {
    color: var(--color-secondary-green-dark);
}

/* tradition section */
.tradition-text .brand {
    color: var(--color-brand-green-light);
    font-weight: 600;
}

.tradition-text .brand-uppercase {
    color: var(--color-brand-green-light);
    text-transform: uppercase;
    font-weight: 600;
}

/* chefs section */
.chef-title {
    color: var(--color-brand-dark);
    font-size: 40px;
    font-weight: 600;
}

/* format section */
.format-title {
    font-size: 24px;
    font-weight: 600;
}

.format-text {
    font-size: 14px;
    font-weight: 300;
}

/* footer */
.address-link {
    color: var(--color-brand-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}
.address-link:hover {
    color: var(--color-brand-green-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-copyright {
    color: var(--color-brand-light);
    font-size: 14px;
    font-weight: 400;
    color: var( --color-secondary-brown);
}